<div class = "hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1> Harmony Hills Guided Reading Library </h1>
    <br />
    <h2> One stop shop to help teachers check out books for guided reading sessions </h2>
    <br />
    <%= link_to "Available Books", '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
